pipelines/n8n/marketing-lead-funnel.json
{
  "name": "Marketing: Lead Funnel (Website to Odoo)",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "path": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
        "options": {}
      },
      "name": "Webhook: Captura de Lead desde www.mecsol.mx",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 460, 300 ],
      "webhookId": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6"
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "partner",
        "options": {
          "name": "={{$json.body.name}}",
          "email": "={{$json.body.email}}"
        }
      },
      "name": "Odoo: Crear/Actualizar Lead",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [ 680, 300 ],
      "credentials": {
        "odooApi": "odoo-credentials-placeholder"
      }
    },
    {
      "parameters": {
        "from": "automatizacion@mecsol.mx",
        "to": "notificaciones@mecsol.mx",
        "subject": "Nuevo Lead Recibido: {{$json.body.name}}",
        "text": "Se ha recibido un nuevo lead desde el sitio web."
      },
      "name": "SendGrid: Notificar a Ventas",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [ 900, 300 ],
      "credentials": {
        "sendGridApi": "sendgrid-credentials-placeholder"
      }
    }
  ],
  "connections": {
    "Webhook: Captura de Lead desde www.mecsol.mx": { "main": [ [ { "node": "Odoo: Crear/Actualizar Lead", "type": "main", "index": 0 } ] ] },
    "Odoo: Crear/Actualizar Lead": { "main": [ [ { "node": "SendGrid: Notificar a Ventas", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": {},
  "id": "1"
}
