pipelines/n8n/sales-billing-notification.json
{
  "name": "Ventas: Notificación de Cierre y Facturación",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [ 240, 300 ]
    },
    {
      "parameters": {
        "event": "sale.order.confirmed",
        "options": {}
      },
      "name": "Odoo Trigger: Venta Cerrada",
      "type": "n8n-nodes-base.odooTrigger",
      "typeVersion": 1,
      "position": [ 460, 300 ],
      "credentials": {
        "odooApi": "odoo-credentials-placeholder"
      }
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "invoice",
        "options": {
          "partner_id": "={{$json.body.partner_id}}",
          "amount_total": "={{$json.body.amount_total}}"
        }
      },
      "name": "Odoo: Generar Factura",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [ 680, 300 ],
      "credentials": {
        "odooApi": "odoo-credentials-placeholder"
      }
    },
    {
      "parameters": {
        "to": "direccion@mecsol.mx",
        "text": "¡Venta concretada! Se ha generado la factura para el cliente {{$json.body.partner_id}}. Monto: {{$json.body.amount_total}} MXN."
      },
      "name": "Notificación por Correo",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [ 900, 200 ],
      "credentials": {
        "smtp": "smtp-credentials-placeholder"
      }
    },
    {
      "parameters": {
        "from": "whatsapp:+14155238886",
        "to": "whatsapp:+52181XXXXXXXX",
        "body": "¡Venta concretada! Cliente: {{$json.body.partner_id}}, Monto: {{$json.body.amount_total}} MXN."
      },
      "name": "Notificación por WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [ 900, 400 ],
      "credentials": {
        "twilioApi": "twilio-credentials-placeholder"
      }
    }
  ],
  "connections": {
    "Odoo Trigger: Venta Cerrada": { "main": [ [ { "node": "Odoo: Generar Factura", "type": "main", "index": 0 } ] ] },
    "Odoo: Generar Factura": {
      "main": [
        [ { "node": "Notificación por Correo", "type": "main", "index": 0 } ],
        [ { "node": "Notificación por WhatsApp", "type": "main", "index": 0 } ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "2"
}
